# Ignore tất cả các tệp và thư mục
/*

# Nhưng giữ lại thư mục folder_name
!BTTH/
!BTVN/
!BTVN_TH3/
!TH3/





# Ignore thư mục node_modules (nếu có)
node_modules/

# Ignore các tệp log
*.log

# Ignore các tệp tạm thời của hệ điều hành
.DS_Store
Thumbs.db
