# Ignore tất cả các tệp và thư mục
/*

# Nhưng giữ lại thư mục folder_name
!BTTH/
!BTVN/
!BTVN/BTVN_TH3/app/
!BTVN/BTVN_TH3/database/
!BTVN/BTVN_TH3/resources/
!BTVN/BTVN_TH3/routers/
!BTTH/TH3/apVN
!BTTH/TH3/database/
!BTTH/TH3/resources/
!BTTH/TH3/routers/





# Ignore thư mục node_modules (nếu có)
node_modules/

# Ignore các tệp log
*.log

# Ignore các tệp tạm thời của hệ điều hành
.DS_Store
Thumbs.db
